@model Data.Models.UpdateDriverRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vehicle_plate" class="control-label"></label>
                <input asp-for="vehicle_plate" class="form-control" />
                <span asp-validation-for="vehicle_plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_date" class="control-label"></label>
                <input asp-for="start_date" class="form-control" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expiration_date" class="control-label"></label>
                <input asp-for="expiration_date" class="form-control" />
                <span asp-validation-for="expiration_date" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
           </br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
